*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #284b63;
    color: #b4b8ab;
    text-align: center;
}
.box{
    background-color: #f4f9e9;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    margin-right: 5px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-size: 8vmin;
    color: #153243;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5 vmin;
}
#reset-btn{
    background-color: #eef0eb;
    border: 1.5px solid #153243;
    border-radius: 1rem;
    height:2rem;
    width:5rem;
}
/* #new-btn{
    background-color: #faf9f9;
    margin-top:25px;
    border: 1.5px solid #555b6e;
    border-radius: 1rem;
    height:2rem;
    width:5rem;
} */